{% extends "layout.html" %}

{% block content %}
    <h1>Subscribe</h1>
    <form action="/subscribe" method="POST">
        <label for="champ_username">Username</label>&nbsp;<input type="text" id="champ_username" name="username" maxlength="25">
        <br>
        <label for="champ_password">Password</label>&nbsp;<input type="password" id="champ_password" name="password" maxlength="40">
        <br>
        <label for="champ_email">Email</label>&nbsp;<input type="text" id="champ_email" name="email" maxlength="100">
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}